/* .cardStyle{
    background-color: aqua;
} */

@media screen and (max-width: 1000px) {
    .cardStyle{
        width: 7.5rem !important
    }
}

.categoryATags{
    text-decoration: none;
    color: #000000;
}
.timeBg{
    width: 30px;
    height: 30px;
    background-color: #424242;
}
.cardHover:hover{
    transition: 0.5s;
    background-color: #ffffff;
    color: #000000 !important
}

/* .slideOverflow{
    overflow-x: scroll;
    width: 100%;
    scroll-snap-type: x mandatory;
}

.slideOverflow .card{
    scroll-snap-align: center;
} */